body {
    background-color: white;
    background-size: contain;
    opacity: inherit;
}

.row {
  margin-top: 1em;
}

.three {
  display: fix;
  justify-content: center;
  flex-direction: row;
  margin-top: 5em;
  margin-bottom: 5em;
}

.three {
  border: 1px solid black;
  padding: 5px;
}

.circle {
  padding: 1em;
  border: 1px solid black;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 10px;
}
/* change this to mess with grid*/
.col-xs-4,
.col-md-4{
   display: flex;
   justify-content: center;
 }

.stock {
  display: flex;
  flex-direction: column;
  padding: 2em;
}

img, p {
  margin: 5px;
}

textarea {
  margin: 1em;
}

.space {
  display: flex;
  justify-content: space-between;
  margin: 2em;
}
