body {
    /*background-image: url(images/burlap.jpg);*/
    background-color: white;
    background-size: cover;
    opacity: inherit;
}
h1 {
  color: white;
  padding: 1em;
}
h4 {
  color: white;
  padding: 1em;
}
p{
  padding: 1em;

}
.color {
  background-color: #42f4a7;
}
.row {
  margin-top: 1em;
}

.three {
  display: fix;
  justify-content: center;
  flex-direction: row;
  /*margin-top: 5em;*/
  margin-bottom: 5em;
}

.three {
  /*border: 1px solid black;*/
  padding: 5px;
}

.circle {
  /*padding: 1em;*/
  /*border: 1px solid black;*/
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 10px;
}
/* change this to mess with grid*/
.col-xs-4,
.col-md-4{
   display: flex;
   justify-content: center;
 }

.stock {
  display: flex;
  flex-direction: column;
  padding: 2em;
}

img, p {
  margin: 5px;
}

textarea {
  margin: 1em;
}

.space {
  display: flex;
  justify-content: space-between;
  margin: 2em;
}

.panel {
  width: 100%;
}

button {
    box-shadow: 2px 2px 2px 2px;
    position: relative;
    background-color: #4CAF50;
    border: none;
    font-size: 28px;
    color: #FFFFFF;
    padding: 20px;
    width: 15vw;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

button:after {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;

    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

#content {
  font-size: 24px;

}
#pause {
  background-color: red;
}

.shorten{
  /*width: 80vw;*/
  /*justify-content: center;*/
}
